server:
  port: ${PORT:8080}

spring:
  datasource:
    url: jdbc:h2:file:./data/balanzadb;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: password

h2:
  console:
    enabled: true
    path: /h2-console

gemini:
  api:
    key: ${GEMINI_API_KEY}

balanza:
  minWords: 50
